<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quotations API</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cyborg/bootstrap.min.css"  rel="stylesheet">
  <style>
    .custom-tooltip {
      /* --bs-tooltip-bg: var(--bd-violet-bg); */
      --bs-tooltip-color: var(--bs-white);
    }
  </style>
</head>
<body>

                