<%- include('partials/header') -%>


<div class="container">

  <div class="card mt-5 pa-3">
    <div class="card-header text-white bg-danger">
      <%= error %>
    </div>

    <div class="card-body">
      <img class="card-img-bottom" src="<%= imageSRC %>" alt="error image">
    </div>
  </div>

</div>
		
<%- include('partials/footer') -%>